.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 720px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }
}